---
Checks: "-*,\
bugprone-*,\
-bugprone-easily-swappable-parameters,\
cert-*,\
-cert-dcl21-cpp,\
-cert-err58-cpp,\
concurrency-*,\
cppcoreguidelines-*,\
-cppcoreguidelines-avoid-c-arrays,\
-cppcoreguidelines-avoid-non-const-global-variables,\
-cppcoreguidelines-macro-usage,\
-cppcoreguidelines-owning-memory,\
-cppcoreguidelines-pro-bounds-pointer-arithmetic,\
-cppcoreguidelines-pro-type-const-cast,\
-cppcoreguidelines-pro-type-vararg,\
hicpp-*,\
-hicpp-avoid-c-arrays,\
-hicpp-vararg,\
-hicpp-use-auto,\
misc-*,\
modernize-*,\
-modernize-avoid-c-arrays,\
-modernize-use-auto,\
-modernize-use-nodiscard,\
-modernize-use-trailing-return-type,\
performance-*,\
portability-*,\
readability-*,\
-readability-avoid-const-params-in-decls,\
-readability-const-return-type,\
-readability-function-cognitive-complexity,\
-readability-identifier-length,\
"
HeaderFilterRegex: 'src|benchmark/stdgpu|test/stdgpu'
...
