body
{
    background-color: #EBEBF0;
    color: black;
    margin: 0px;
}


div.contents
{
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 173px);
    max-width: 1280px;
    background-color: white;
}


div.header
{
    background-image: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
}


div.headertitle
{
    padding-left: 0px;
}


#titlearea
{
    background-color: white;
}


.memtitle
{
    background-image: none;
}


#nav-tree
{
    background-image: none;
}


#nav-tree .selected
{
    background-image: none;
    background-color: #1E46E6;
    text-shadow: none;
}


.ui-resizable-e
{
    background-image: none;
    background-color: #BECAF7;
    background-repeat: repeat-y;
}


table.doxtable th
{
    background-color: white;
    color: black;
    text-align: center;
    border: 1px solid #B3C1F6;
}


table.doxtable td
{
    border: 1px solid #B3C1F6;
}
