name: Coverage OpenMP

on:
  push:
    branches:
      - master

  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  Coverage:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - name: Install OpenMP
        shell: bash
        run: |
          set -e
          sh scripts/utils/install_openmp_ubuntu1804.sh

      - name: Install CMake 3.15+
        shell: bash
        run: |
          set -e
          sh scripts/utils/install_cmake_ubuntu1804.sh

      - name: Install lcov
        shell: bash
        run: |
          set -e
          sh scripts/utils/install_lcov_ubuntu1804.sh

      - name: Configure project
        shell: bash
        run: |
          set -e
          sh scripts/ci/configure_openmp_lcov.sh

      - name: Build project
        shell: bash
        run: |
          set -e
          sh scripts/build_debug.sh

      - name: Run coverage
        shell: bash
        run: |
          set -e
          sh scripts/ci/run_coverage.sh

      - name: Upload coverage report
        shell: bash
        run: |
          set -e
          bash <(curl -s https://codecov.io/bash) -Z -f build/stdgpu_coverage.info
