name: Coverage OpenMP

on:
  push:
    branches:
      - master

  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  compute:
    name: "Compute"
    runs-on: ubuntu-22.04 # Keep Ubuntu 22.04 until compatibility with lcov has been improved

    steps:
      - uses: actions/checkout@v5

      - name: Install OpenMP
        shell: bash
        run: |
          bash tools/ubuntu/install_openmp.sh

      - name: Install lcov
        shell: bash
        run: |
          bash tools/ubuntu/install_lcov.sh

      - name: Download dependencies
        shell: bash
        run: |
          bash tools/dev/download_dependencies.sh

      - name: Configure project
        shell: bash
        run: |
          bash tools/backend/configure_openmp_lcov.sh

      - name: Build project
        shell: bash
        run: |
          bash tools/build.sh Debug

      - name: Run coverage
        shell: bash
        run: |
          bash tools/dev/run_coverage.sh

      - uses: actions/upload-artifact@v5
        with:
          name: Coverage Report
          path: build

  publish:
    name: Upload coverage report to Codecov
    runs-on: ubuntu-24.04

    needs:
      - compute

    steps:
      - uses: actions/checkout@v5

      - uses: actions/download-artifact@v6
        with:
          name: Coverage Report
          path: build

      - name: Upload coverage report
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/stdgpu_coverage.info
          fail_ci_if_error: true
          verbose: true
          disable_search: true

  checkcoverage:
    if: always()

    needs:
      - compute
      - publish

    name: "Check Coverage"
    runs-on: ubuntu-24.04

    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
